---
import { VoteAverage } from "@/components/VoteAverage";
import Layout from "@/layouts/Layout.astro";
import type { MovieReviewResponse } from "@/models/MovieReview";
import { getGPTMovieReview } from "@/services/gpt-review";
import { getMovieReview } from "@/services/movie-review";
import { getMovieById } from "@/services/movies";

const { id = '' } = Astro.params

if (id === '') Astro.redirect('/')

const { title, overview, vote_average, poster } = await getMovieById({ id, lang: "es-ES" })

// Validación para asegurar que `poster` no sea undefined o null
const posterUrl = poster ? `https://media.themoviedb.org/t/p/w500/${poster}` : 'ruta/a/imagen/por/defecto.jpg';

const reviews = await getMovieReview({ id })
const gptres = getGPTMovieReview({
  title,
  score: vote_average,
  reviews,
})
// const gptres = ""

---


<Layout
	title={`${title} | Morevie`}
	description="">
  <section class="h-dvh flex items-center bg-slate-900 flex-col justify-center">
    <div class="container">
      <div class="max-md:items-center text-center md:text-left flex flex-col md:flex-row gap-8">
        <div class="relative w-full max-w-80 md:max-w-xs overflow-hidden rounded-3xl shadow-xl">
          <img class="w-full h-full " loading="lazy" src={posterUrl} alt={`${title} poster`} />
          <VoteAverage average={vote_average} />
        </div>
        <div class="flex flex-col gap-4">
           <div class="mb-4">
            <a class="rounded border border-sky-500 text-sky-500 px-4 py-2 font-semibold hover:bg-sky-500 hover:text-slate-100 transition-colors duration-150 ease-in-out" href="/">Volver</a>
           </div>
          <h1 class="text-white font-bold text-4xl mb-4">{title}</h1>
          <p class="text-neutral-300 text-lg leading-relaxed">{gptres}</p>
        </div>
      </div>
    </div>
  </section>
</Layout>